{% extends "events/base.html" %}
{% load materializecss %}

{% block title %}{{ event.name }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="card-panel" style="padding: 2px">
    {% if event.get_timer_remaining %}
     <div class="row" style="margin-bottom: 0px">
         <div class="col s12">
            <h4 class="center">{{ event.name }}</h4>
         </div>
     </div>

    {% if messages %}
        {% for message in messages %}
        <div class="row" style="margin-bottom: 0px">
            <div class="col s12">
                {% if message.tags == 'error' %}
                    <div class="center card-panel red lighten-2">
                        <span class="white-text">
                            {{ message }}
                        </span>
                    </div>
                {% else %}
                    <div class="center card-panel green lighten-2">
                        <span class="white-text">
                            {{ message }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}

     <div class="row">
         <div class="col s12">
            <form action="{% url 'events:upload-attendance-photo' event.slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|materializecss }}
                <div class="center row" style="margin-bottom: 0px">
                    <button class="center waves-effect waves-light btn" type="submit">Загрузить фото</button>
                </div>
            </form>
         </div>
     </div>
    {% else %}
     <div class="row">
         <div class="col s12">
            <h4 class="center">Подтверждение посещаемости недоступно</h4>
         </div>
     </div>
    {% endif %}
</div>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{{ event.name }}</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>{{ event.name }}</h1>-->

<!--<form action="{% url 'events:upload-attendance-photo' event.slug %}" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input class="waves-effect waves-light btn" type="submit" value="Загрузить фото">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->