{% extends "events/base.html" %}

{% block title %}{{ event.name }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

 <div class="row">
     <div class="col s12">
        <h2 class="center">{{ event.name }}</h2>
     </div>
 </div>
 <div class="row">
     <div class="col m0 l2"></div>
     <div class="col m12 l8">
         <div id="qrcode">
             {% include "events/qrcode.html" %}
         </div>
     </div>
     <div class="col m0 l2"></div>
 </div>

<div class="row">
    <a class="left waves-effect waves-light btn" style="height:auto !important"  href="{% url 'events:json' event.pk %}">Детали мероприятия в формате json</a>
</div>

<div id="attendees">
    {% include "events/attendees.html" %}
</div>



<script>
function autorefresh() {
        setInterval(function(){
            $("#attendees").load('{% url 'events:attendees' event.slug %}')
            $("#qrcode").load('{% url 'events:qrcode' event.slug %}')
    }, 1000);
}
</script>
<script>autorefresh()</script>

{% endblock %}