{% extends "events/base.html" %}

{% block title %}Система{% endblock %}

{% block content %}
<br>
<br>
<div class="row center" style="margin-bottom: 0px">
    <i class="teal-text material-icons large">camera</i>
</div>
<h2 class="header center teal-text text-lighten-2" style="margin-top: 0px">Начните мероприятие</h2>
<div class="row center">
          <h5 class="header col s12 light">Нажмите на кнопку ниже, чтобы создать новое мероприятие и начать фиксировать его посещаемость.</h5>
</div>
<div class="row center">
          <a class="center waves-effect waves-light btn-large" href="{% url 'events:new-event' %}">Создать мероприятие</a>
</div>

<br>
<br>

{% endblock %}