{% extends "events/base.html" %}
{% load materializecss %}

{% block title %}Создание мероприятия{% endblock %}

{% block content %}
<div class="card-panel" style="padding: 10px">

    <h3 class="row center">Создание мероприятия</h3>

    {% if messages %}
        {% for message in messages %}
        <div class="row" style="margin-bottom: 0px">
            <div class="col s12">
                {% if message.tags == 'error' %}
                    <div class="center card-panel red lighten-2">
                        <span class="white-text">
                            {{ message }}
                        </span>
                    </div>
                {% else %}
                    <div class="center card-panel green lighten-2">
                        <span class="white-text">
                            {{ message }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'events:create' %}" method="post">
        {% csrf_token %}
		<div class="row" style="margin-bottom: 0px">
		{{ form.name|materializecss:'active col s8' }}
		{{ form.timer|materializecss:'active col s4 timepicker ' }}
        </div>
		<div class="row">
            <div class="col s12">
                <button class="right waves-effect waves-light btn" type="submit">Создать мероприятие</button>
            </div>
        </div>
    </form>

</div>




{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Создание мероприятия</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="{% url 'events:create' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Создать мероприятие">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->