{% extends "events/base.html" %}
{% load materializecss %}

{% block title %}Создание мероприятия{% endblock %}

{% block content %}
<div class="card-panel">

    <h3 class="center">Создание мероприятия</h3>

    <form action="{% url 'events:create' %}" method="post">
        {% csrf_token %}
		<div class="row">
		{{ form.name|materializecss:'col s8' }}
		{{ form.timer|materializecss:'col s4' }}
        </div>

		<div class="row">
            <div class="col s12">
                <input class="right waves-effect waves-light btn" type="submit" value="Создать мероприятие">
            </div>
        </div>
    </form>

</div>
{% endblock %}




<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Создание мероприятия</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="{% url 'events:create' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Создать мероприятие">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->