{% load qr_code %}
{% if event.get_timer_remaining %}
<div class="card-panel" style="padding: 2px">
  <div class="row" style="margin-bottom: 0px">
    <div class="col s12">
      <div class="center">
        {% qr_from_text request.scheme|add:"://"|add:request.get_host|add:event.get_attendance_url size=26 border=2 %}
      </div>
    </div>
  </div>
<!--  <a href="{% url 'events:attend' event.slug %}">ССЫЛКА</a>-->
  <div class="row">
    <div class="col s12">
      <h3 class="center">
        {{ event.get_timer_remaining }}
      </h3>
    </div>
  </div>
</div>
{% else %}

<div class="card-panel" style="padding: 2px">
  <div class="row">
    <div class="col s12">
      <h3 class="center">
        Подтверждение посещаемости недоступно
      </h3>
    </div>
  </div>
</div>
{% endif %}